<span class="title"> Users Management </span>
<div class="filter-section d-flex mt-5">
  <input type="text" class="form-control" [(ngModel)]="searchedUser" placeholder="Search user by username..." />
  <button class="btn btn-primary" (click)="onSearchUser()" style="margin-left: 10px;"><i class="fa-solid fa-search"></i></button>
  <button class="btn btn-primary" (click)="refreshPage()" style="margin-left: 10px;"><i class="fa-solid fa-refresh"></i></button>

</div>
<div
  class="card mt-2"
  style="box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; margin-bottom: 65px"
>
  <div class="card-body">
    <table class="table table-striped">
      <thead>
        <tr class="text-center">
          <th scope="col">Sr. No</th>
          <th scope="col">Username</th>
          <th scope="col">Email</th>
          <th scope="col">Bio</th>
          <th scope="col">Created At</th>
          <th scope="col">Banned/Unbanned User</th>
          <th scope="col" *ngIf="loggedInUser.role == 'Admin'">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let user of userMangementList; let i = index"
          class="text-center"
        >
          <td>{{ i + 1 }}</td>
          <td>{{ user.userName }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.bio ? user.bio : "-" }}</td>
          <td>{{ user.createdAt | date : "dd-MM-yyyy hh:mm:ss a" }}</td>
          <td class="d-flex justify-content-center">
            <div class="form-check form-switch">
              <input
                (change)="bannedUnbannedUser(user)"
                class="form-check-input"
                type="checkbox"
                role="switch"
                [checked]="user.statusId == 3"
              />
            </div>
          </td>
          <td *ngIf="loggedInUser.role == 'Admin'">
            <a class="delete-btn" (click)="onDeleteUser(user)"><i class="fa-solid fa-trash"></i></a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
