<span class="title">
  Users Management
</span>

<div class="card mt-4" style="box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;">
  <div class="card-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Sr. No</th>
          <th scope="col">Username</th>
          <th scope="col">Profile</th>
          <th scope="col">Email</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of userMangementList; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ user.username }}</td>
          <td>{{ user.profile }}</td>
          <td>{{ user.email }}</td>
          <td>
            <div class="form-check form-switch">
              <input
                class="form-check-input"
                type="checkbox"
                role="switch"
                [checked]="user.isActivated"
              />
              <!-- <label class="form-check-label" for="flexSwitchCheckChecked"
                ></label
              > -->
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
