<!-- <p>forgot-password works!</p> -->
<div class="container">
  <div class="row">
    <div class="login-section">
      <div class="col-md-4">
        <div class="card mt-4">
          <div class="card-body">
            <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
      <div class="mb-4">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input type="email" class="form-control" placeholder="Email address" formControlName="email" />
   
      <div *ngIf="email && (email.dirty || email.touched)">
        <div *ngIf="email?.errors?.required">Email is required.</div>
        <div *ngIf="email?.errors?.email">Invalid email address.</div>
      </div>
    </div>
    <button type="submit" [disabled]="forgotPasswordForm.invalid" type="submit" class="btn btn-primary
     w-100 mt-3"(click)="onSubmit()">
    Submit
  </button>
    <div *ngIf="message">{{ message }}</div>
  </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>