/* .container {
    margin-top: 50px;
  }
  
  .card {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .card-header {
    background-color: #007bff;
    color: white;
  }
  
  .btn-primary {
    background-color: #007bff;
    border: none;
  }
  
  .btn-primary:hover {
    background-color: #0056b3;
  } */
  .login-section{
    /* background-color: green; */
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgb(252, 248, 248);
}

.card{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.signup-link{
    text-decoration: none;
    cursor: pointer;
    font-size: 14px;
}
label {
  display: inline-block;
  margin-bottom: .5rem;
}