<div class="container">
  <div class="row">
    <div class="login-section">
      <div class="col-md-4">
        <div class="card mt-4">
          <div class="card-body">

<form *ngIf="resetForm" [formGroup]="resetForm" (ngSubmit)="onSubmit()">
  <div class="mb-4">
    <div><label for="newPassword">New password</label></div>
    <input type="password" class="form-control" placeholder="Enter new password" formControlName="newPassword" />
    <div *ngIf="resetForm.get('newPassword')?.errors && (resetForm.get('newPassword')?.dirty || resetForm.get('newPassword')?.touched)">
      <small class="text-danger" *ngIf="resetForm.get('newPassword')?.errors?.required">Password is required.</small>
      <small class="text-danger" *ngIf="resetForm.get('newPassword')?.errors?.minlength">Password must be at least 6 characters long.</small>
    </div>
  </div>
  <div class="mb-4">
    <div><label for="confirmPassword">Confirm password</label></div>
    <input type="password" class="form-control" formControlName="confirmPassword" placeholder="Enter confirm password"/>
    <div *ngIf="resetForm.get('confirmPassword')?.errors && (resetForm.get('confirmPassword')?.dirty || resetForm.get('confirmPassword')?.touched)">
      <small class="text-danger" *ngIf="resetForm.get('confirmPassword')?.errors?.required">Password is required.</small>
      <small class="text-danger" *ngIf="resetForm.errors?.mismatch">Passwords do not match.</small>
    </div>
  </div>
  <button type="submit" [disabled]="resetForm.invalid" class="btn btn-primary w-100 mt-3">Reset password</button>
</form>
        </div>
      </div>
    </div>
  </div>
</div>
