<div class="side-nav-content" [class.mini-screen]="sidenavStatus">
    <ul class="nav-list">
        <li class="nav-list-item" *ngFor="let nav of list">
            <a [routerLink]="[nav.routerLink]" routerLinkActive="router-link-active">
                <i [class]="nav.icon" class="sidebar-nav-icon" [title]="nav.label"></i>
                <span class="sidebar-nav-text">
                    <a>{{nav.label}}</a>
                </span>
            </a>
        </li>

        <li class="nav-list-item sign-out">
            <a (click)="signout()">
                <span class="sidebar-nav-text">
                    <i class="fa-solid fa-right-from-bracket sidebar-nav-icon" title="Sign out"></i>
                    <a class="sidebar-nav-text">Sign Out</a>
                </span>
            </a>
        </li>
    </ul>
</div>
