.header-cls{
    height: 75px;
    background: #0d6efd;
    overflow-x: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
}
.icon{
    color: white;
    font-weight: bolder;
    margin-left: 30px;
    cursor: pointer;
}
.profile-cls{
    margin-right: 30px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.username-cls{
    font-size: small;
    color: white;
}
.username-cls:hover{
    color: black;
    text-decoration: underline;
}
.modal-user {
    position: absolute;
    right: 10px;
    top: 50px;
    width: 200px;
}
.update-modal-content{
    background-color: #fff;
    
    border-radius: 20px;
    /* box-shadow: 10px 10px 5px #888888; */
}
.profile-update-modal{
    top:150px;
}