<div class="header-cls">
  <div class="icon">
    <a (click)="sideNavToggle()"><i class="fa-solid fa-bars"></i></a>
    <span style="font-size: 20px;">
      {{ title }}
    </span>
  </div>
  <div class="profile-cls" (click)="togglePopup()">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="30px"
      fill="white"
      class="bi bi-person-circle"
      viewBox="0 0 16 16"
    >
      <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0" />
      <path
        fill-rule="evenodd"
        d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"
      />
    </svg>
    <span class="username-cls">{{ user | uppercase }}</span>
  </div>
  <div
    class="modal"
    tabindex="-1"
    role="dialog"
    [ngStyle]="{ display: displayStyleUser }"
  >
    
    
    <div
        class="modal"
        role="dialog"
        [ngStyle]="{'display':displayStyleUser}"
    > 
        <div class="modal-dialog modal-user" role="document"> 
            <div class="modal-content"> 
                <div class="modal-header d-flex justify-content-between"> 
                    <h4 class="modal-title">{{user | uppercase}}</h4>
                    <button type="button" class="btn btn-danger btn-sm" (click)="togglePopup()">x</button>
                </div> 
                <div class="modal-body d-flex flex-column gap-2"> 
                <!-- modal body -->
                    <button class="btn btn-primary" data-bs-toggle="modal" (click)="openUpdateProfile()">edit profile</button>
                    <button class="btn btn-primary" (click)="togglePopup()">sign-out</button>
                </div> 
            </div> 
        </div> 
    </div>
</div>

<div
        class="modal"
        role="dialog"
        [ngStyle]="{'display':displayStyleUserUpdate}"
    > 
        <div class="modal-dialog profile-update-modal" role="document"> 
            <div class="update-modal-content"> 
                <div class="modal-header d-flex justify-content-between"> 
                    <h4 class="modal-title">update ur profile</h4>
                    <button type="button" class="btn btn-danger btn-sm">x</button>
                </div> 
                <div class="modal-body d-flex flex-column gap-2 "> 
                <!-- modal body -->
                    
                </div> 
            </div> 
        </div> 
    </div>







  </div>
