<div class="header-cls">
    <div class="icon">
        <span>
            {{title}}
        </span>
    </div>
    <div class="profile-cls" (click)="openPopup()">
        <svg xmlns="http://www.w3.org/2000/svg" width="3rem" height="3rem" fill="white" class="bi bi-person-circle" viewBox="0 0 16 16">
            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
            <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
          </svg>
          <span class="username-cls">Hi {{user | uppercase}}</span>
    </div>
    <div
  class="modal"
  tabindex="-1"
  role="dialog"
  [ngStyle]="{'display':displayStyle}"> 
  <div class="modal-dialog" role="document"> 
    <div class="modal-content"> 
      <div class="modal-header"> 
        <h4 class="modal-title">{{user | uppercase}}</h4> 
      </div> 
      <div class="modal-body"> 
        <!-- modal body -->
      </div> 
      <div class="modal-footer"> 
        <button type="button" class="btn btn-danger" 
                (click)="closePopup()"> 
          X 
        </button> 
      </div> 
    </div> 
  </div> 
</div>
</div>






